<div id = "add-form-container" class="container">
        <div class = "row">
            <div class="col-md-12">
                <h1 class="class text-center">Divulgue a vaga preenchendo o formulário.</h1>
            </div>
            <div id="form-box" class="col-md-12">
                <h2 id = "aviso">Preencha os dados da melhor forma possível para poder encontrar mais rápido o seu dev!</h2>
                <form action="">
                    <div class="form-group">
                        <label for="title">Titulo:</label>
                        <input type="text" class="form-control" id = "title" name="title" placeholder="Digite o titulo da vaga" required>
                        <small id="titlehelp" class="form-text text-muted">O título é muito importante, seja claro e objetivo.</small>
                        
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição da Vaga:</label>
                        <textarea type="text" class="form-control" id = "descricao" name = "descricao" placeholder="Digite a descrição da vaga" required></textarea>
                        
                    </div>
                    <div class="form-group">
                        <label for="empresa">Empresa Contratante:</label>
                        <input type="text" class="form-control" id = "empresa" name = "empresa" placeholder="Digite o nome da empresa contratante" required>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="email" class="form-control" id = "email" name = "email" placeholder="Digite o e-mail para contato" required>
                        
                        
                    </div>
                    <div class="form-group">
                        <label for="salario">Salario oferecido:</label>
                        <input type="text" class="form-control" id = "salario" name = "salario" placeholder="Digite o valor do salario"required>
                    </div>
                    <input type = "hidden" name = "trab_novo" value="1">
                    <button id = "enviar" type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>