* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;

}

/* nav bar*/

.navbar {
    padding: 1rem;
    border-bottom: 1px solid #CCC;
}

.navbar .nav-item a {
    color: #212529;
}

.nav-item {
    margin: 0 10 px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 25px;
    font-weight: bold;
}

.navbar .nav-item .btn {
    color: #fff;
    background-color: #f03e3e;
    border: 1px solid transparent;
    border-radius: 0;
}

.nav-link.btn.btn-primary:hover {
    background-color: #fff;
    color: #f03e3e;
    border-color: #f03e3e;
    
}


/* banner */

#top-container {
    padding: 100px;
    background-color: #f7f9fc;
    border-bottom: 4px solid #013068;
    margin-bottom: 30px;
    background-image: url("../img/banner2.jpg");
    background-position: 0 100 px;
    background-size: cover;
    color: #fff;
}

#main-title {
    padding: 20px 0;
    font-size: 3rem;
}

#main-subtitle{
    font-size: 1.5rem;
    padding-bottom: 80px;

}

#job {
    width: 700px;
    position: relative;
    right: -100px;
}

#search-form {
    padding: 30px 100px;

}

#search-form .col-md-10, #search-form .col-md-2 {
    padding: 0;
}

#search-form input, #search-form button {
    width: 100%;
    border-radius: 0;
    height: 50px;
    font-size: 18px;

}
#search-form button{
    color: #fff;
    background-color:#f03e3e ;
    border: 1px solid transparent;
    transition: 0.5s;
}

#search-form button :hover{
    background-color:#ad2e2e;
    color: #fff;
    border-color: rgb(110, 43, 43);
}

/* lista */

#jobs-container {
    padding: 0 100px;
    padding-bottom: 50px;
}


#job-list .list-group-item {
    margin-bottom: 8px;
    border: 1px solid #CCC;
    padding: 15px 80px;
    color: #212529;
    height: 120px;
}

#job-list .list-group-item p {
    font-size: 40px;
    margin-bottom: 5px;
}


#job-list .list-group-item.new-job{
    border: none;
    background-color: #fff7cc;
}

#job-list-title {
    margin-bottom:  35px;
}

.list-group-item img {
    width: 80px;
    border: 1px solid #212529;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: -40px;
    top: calc(50% - 40px);

}

.list-group-item a {
    position: absolute;
    right: 20px;
    top: 35px;
    height: 50px;
    line-height: 35px;
    background-color: #f03e3e;
    border: 1px solid transparent;
    border-radius: 0px;
    color: #fff;
}

.list-group-item a:hover{
    background-color:#fff;
    color: #f03e3e;
    border-color: #f03e3e;
}

.list-group-item p1 {
    font-size: 20px;
    padding-bottom: 0px;
    height: -20px;
    color: black;
}

.list-group-item p2 {
    font-size: 18px;
    position: absolute;
    top: 80px;
}

.new-job-label {
    background-color: #ffd500;
    color: #4d5154;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    right: 250px;
    top: 40px;
}

/*add page */

#add-form-container {
    margin-top: 100px;
}

#form-box {
    padding: 50px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .15);
    border-radius: 4px;
    background-color: #fff7cc;
    margin-bottom: 50px;
}

#add-form-container h2 {
    color: #f03e3e;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

#add-form-container form label {
    font-weight: bold;
}
#add-form-container input, #add-form-container textarea {
    border: 2px solid #ccc;
}

#form-box button {
    height: 50px;
    width: 200px;
    background-color: #f03e3e;
    color: #f7f9fc;
    border: 1px solid transparent;
    border-radius: 0;
    margin-top: 20px;
    margin-left: 400px;

}

#add-form-container h1 {
    margin-bottom: 20px;
}

#form-box button, .back-link.main-color:hover {
    background-color:#fff;
    color: #f03e3e;
    border-color: #f03e3e;
}


/* view */

#job-view-container{
    margin-top: 100px;
}

.back-link.main-color{
    padding: 5px 18px;
    border: 1px solid transparent;
    color: #fff;
    background-color: #f03e3e;
    text-decoration: none;
    transition: 0.5s;
}


#img-container{
    margin-bottom: 20px;
    margin-top: 70px;
}


#img-container img {
    width: 80px;
    border: 1px solid #212529;
    border-radius: 50%;
    background-color: #fff;

}

.job-desc{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.bold {
    font-weight: bold;
}

.main-color{
    color: #f03e3e;
    
}
.main-color.empresa{
    color: #f03e3e;
    font-weight: bold;
}

.attbr{
    text-align: center;
}
/* responsive */
@media (max-width: 481px){
    /* nav bar */
    #navbarNav{
        text-align: center
    }

    
    #top-container {
        
        padding: 50px;
        padding-top: 100px;
    
    }

    #main-title {
        font-size: 2.2rem;
    }

    #main-subtitle{
        font-size: 1.5rem;
    }

    #search-form{
        padding: 0;

    }

    
    
    #job{
        position: absolute;
        width: 150px;
        left: 0px;
        top: -80px;
        height: 200px;
        padding: 0;
       

        

    }

    #jobs-container{
        padding:20px;
    }

    .list-group-item{
        padding: 10px 85px;
    }



    .list-group-item img{
        width: 50px;
        left: 15px;
        top: calc(50% - 25px);
    }
    .list-group-item h2{
        font-size: 1rem;
        font-weight: bold;
        width: 100px;
    }

    .list-group-item p2{
        font-size: 0.9rem;
    }

    .list-group-item p1{
        font-size: 0.9rem;
    }

    .new-job-label{
        position: absolute;
        left: 0px;
        top: 1px;
        width: 60px;
        font-size: 0.9rem;
    }

    .list-group-item a{
        position: absolute;
        left: 230px;
        top: 35px;
        width: 90px;
        font-size: 0.9rem;
    }
     .new-job-label{
         display: none;
     }

     /*form */
     #form-box {
        padding: 0px ;
        width: 400px;
        height: 700px;
        left: 0px;
        margin-bottom: 0px;
        margin-top: 50px;
        margin-bottom: 50px

    }

    #form-box button{
        position: absolute;
        left: 250;
        right: 85px;
        top: 550px;
        color: #f7f9fc;
        background-color: #f03e3e;
        border-color: #f03e3e;
        
       
        
    }

    #form-box button :hover{
        background-color: #fff;
        color: #f03e3e;
        border-color: #f03e3e;
    }

    .col-md-12 h1 {
        position: absolute;
        padding: 0;
        font-size: 15px;
        width: 300px;
        left: 30px;
        right: 150px;
        font-weight: bold;
    }

    #form-box h2{
        position: absolute;
        padding: 0px 15px;
        font-size: 12px;
        text-align: center;
        left: 10x;
        width: 300;
        
    }
    
    .form-group  {
        top: 30px;
        padding: 30px 25px;
        
        
        
    }

    .form-group input, .form-group textarea{
        width: 300px;
        position: absolute;
        left: 30px;

        
        
    }

    #titlehelp{
        position: absolute;
        top: 100px;
        left: 25px;
    }
    
    /* view */
    .main-color.tit {
        top: -140px;
        font-size: 30px;
        width: 320px;
        text-align: center;
    }
    

    
    

}
